<app-game-nav></app-game-nav>

<div class="container">
  <div class="row">
    <div class="col map">

      <div class="controls">
        <button class="btn btn-primary control-button" (click)="zoomIn()">+</button>
        <button class="btn btn-primary control-button" (click)="zoomOut()">-</button>
      </div>

      <div ngDraggable unselectable="on" onselectstart="return false;" onmousedown="return false;" (inBounds)="true">
        <div *ngFor="let mapRow of map">
          <div *ngFor="let mapCell of mapRow" class="map-cell" [ngStyle]="{'width.px' : cellSize, 'height.px' : cellSize}">
            <a *ngIf="mapCell != null" href="{{url}}/village/{{mapCell.id}}">
              <img src="{{villageOnMapURL}}" [ngStyle]="{'width.px' : cellSize, 'height.px' : cellSize}">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
