.map
  display : inline-block
  white-space : nowrap
  -moz-user-select : none
  -webkit-user-select : none
  -ms-user-select :none
  user-select : none
  -o-user-select : none

.mapRow
  margin : 0
  height : 96px

.ng-dragging
  cursor : grabbing

.map-cell
  display : inline-block
  background-size : contain
  width : 96px
  height : 96px
  border : 1px solid gray
  margin : 0

a:hover
  background-color : rgba(0, 153, 255, .3)
