<div ngDraggable ngResizable unselectable="on" onselectstart="return false;" onmousedown="return false;" class="map">
  <div *ngFor="let mapRow of map" class="mapRow">
    <a *ngFor="let mapCell of mapRow">

      <ng-container *ngIf="mapCell != null; else elseTemplate">
        <a href="{{url}}/village/{{mapCell.id}}" class="map-cell" [ngStyle]="{'background-image': 'url(' + villageOnMapURL + ')'}"></a>
      </ng-container>
      <ng-template #elseTemplate>
        <a class="map-cell"></a>
      </ng-template>

    </a>
  </div>
</div>

