.map
  display : inline-block
  white-space : nowrap
  -moz-user-select : none
  -webkit-user-select : none
  -ms-user-select :none
  user-select : none
  -o-user-select : none
  overflow-x : hidden
  overflow-y : hidden

.ng-dragging
  cursor : grabbing

.map-cell
  display : inline-block
  background-size : contain
  background-color: rgb(233,233,233)
  width : 96px
  height : 96px
  margin : 3px
  border-radius : 15px

.map-cell:hover
  background-color : rgba(0, 153, 255, .3)
