.village-element
  background-size: contain
  background-position: center
  background-color: rgb(233,233,233)
  height: 256px
  border-radius: 15px
  margin: 5px
  background-repeat: no-repeat

.village-element:hover
  background-color: rgba(0, 153, 255, .3)

.circle-text
  background-color: rgb(240, 240, 245)
  border: 1px solid black
  height: 2em
  width: 2em
  border-radius: 1em
