
  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <a class="navbar-brand" href="#">VillageBuilder</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <form class="form-inline my-2 my-lg-0 ml-lg-auto">
        <div class="dropdown mr-2">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Village Information
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <ng-container *ngIf="village; then thenTemplateDropdown; else elseTemplateDropdown"></ng-container>
            <ng-template #thenTemplateDropdown>
              <div class="dropdown-item">
                Name : {{village.name}}
              </div>
              <div class="dropdown-item">
                X : {{village.x}}
              </div>
              <div class="dropdown-item">
                Y : {{village.y}}
              </div>
              <div class="dropdown-item">
                Gold : {{village.gold}} / {{gcap}} ({{gph}} per hour)
              </div>
              <div class="dropdown-item">
                Lumber : {{village.lumber}} / {{lcap}} ({{lph}} per hour)
              </div>
              <div class="dropdown-item">
                Units : {{village.units}} / {{ucap}}
              </div>
              <ng-container *ngIf="village.unitQueue && village.unitQueue.length != 0">
                <div class="dropdown-item">
                  Units in queue : {{village.unitQueue.length}}
                </div>
                <div class="dropdown-item">
                  Next unit :
                  <countdown-timer [end]="village.unitQueue[0]"></countdown-timer>
                </div>
              </ng-container>
            </ng-template>
            <ng-template #elseTemplateDropdown>
              <div class="dropdown-item">
                Loading...
              </div>
            </ng-template>
          </div>
        </div>
        <div class="dropdown mr-2">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Attack information
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <h6 class="dropdown-header">Outgoing attacks</h6>
            <ng-container *ngIf="outAttacks;">
              <ng-container *ngFor="let outAttack of outAttacks">
                <div class="dropdown-item">
                  {{outAttack.destinationName}}, {{outAttack.numberOfUnits}} units -
                  <countdown-timer [end]="outAttack.timeOfAttack"></countdown-timer>
                </div>
              </ng-container>
            </ng-container>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Incoming attacks</h6>
            <ng-container *ngIf="incAttacks;">
              <ng-container *ngFor="let incAttack of incAttacks">
                <div class="dropdown-item">
                  {{incAttack.sourceName}}, {{incAttack.numberOfUnits}} units -
                  <countdown-timer [end]="incAttack.timeOfAttack"></countdown-timer>
                </div>
              </ng-container>
            </ng-container>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Returning units</h6>
            <ng-container *ngIf="retUnits;">
              <ng-container *ngFor="let retUnit of retUnits">
                <div class="dropdown-item">
                  {{retUnit.sourceName}}, {{retUnit.numberOfUnits}} units -
                  <countdown-timer [end]="retUnit.timeOfReturn"></countdown-timer>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>
        <a href="/game" class="btn btn-primary mr-2">Map</a>
        <button class="btn btn-danger" (click)="auth.signOut()">Logout</button>
      </form>
    </div>
  </nav>



